* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Frank Ruhl Libre", serif;
  animation: opening 1s ease-in-out;
}

h1 {
  font-size: $header1;
  font-family: "Vibes", sans-serif;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4,
h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}

a {
  color: $gray-text;
  text-decoration: none;
}
