.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;

  nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: 2rem 0rem;
  }

  #logo {
    flex: 1 1 20rem;
    font-family: "Great Vibes", sans-serif;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
  }
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .hero-introduction {
    flex: 2 1 55rem;
    text-align: center;
  }

  p {
    padding: 4rem 10rem;
  }

  h2 {
    padding-top: 8rem;
  }

  a {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 8rem;
  }

  .hero-images {
    position: relative;
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    z-index: 1;
  }

  .hero-elena {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#about {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;

  .about-image {
    flex: 1 1 40rem;
    position: relative;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    letter-spacing: 2rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
}

.about-text {
  flex: 2 1 40rem;
  background: $background;
  color: white;
  flex-wrap: wrap;

  h2 {
    text-align: center;
    margin: 6rem 0rem;
    font-family: "Great Vibes";
  }

  h4 {
    margin-bottom: 1.5rem;
  }

  p {
    padding-bottom: 1rem;
  }

  .about-texts {
    padding: 2rem 8rem;
  }
}

.gallery {
  display: grid;
  min-height: 100vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery1 {
    grid-column: 1/3;
  }

  .gallery2 {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery-head {
    position: absolute;
    color: white;
    background: $background;
    padding: 5rem 10rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;

  img {
    flex: 1 1 40rem;
    width: 100%;
    object-fit: cover;
  }

  .form-wrapper {
    flex: 3 1 40rem;
    h2 {
      margin: 5rem 0rem;
    }
    label {
      display: block;
    }
    input {
      display: block;
      margin: 3rem 0rem;
      background: $background;
      color: white;
      border: none;
      padding: 1rem;
    }
    button {
      padding: 1rem 8rem;
      background: $special-color;
      columns: white;
      border: none;
      width: 100%;
      cursor: pointer;
      color: white;
    }
    span {
      font-size: $big;
      color: $special-color;
    }
  }
}

footer {
  background: $background;
  color: white;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    flex: 3 1 40rem;
    font-size: calc(1.4rem + 1vw);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
