$header1: calc(2rem + 1vw);
$header2: calc(3.5rem + 1vw);
$header3: calc(3rem + 1vw);
$header4: calc(2.4rem + 1vw);
$header5: calc(1rem + 1vw);
$text: calc(1.5rem + 1vw);
$big: calc(8rem + 1vw);
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$background: #414141;
$gray-text: #2c2c2c;
$scroll-behavior: smooth;
$special-color: #906272;

@import "global";
@import "main";
