* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Frank Ruhl Libre", serif;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

h1 {
  font-size: calc(2rem + 1vw);
  font-family: "Vibes", sans-serif;
}

li,
button,
label,
input,
a,
p {
  font-size: calc(1.5rem + 1vw);
}

h2 {
  font-size: calc(3.5rem + 1vw);
}

h3 {
  font-size: calc(3rem + 1vw);
}

h4,
h5 {
  font-size: calc(2.4rem + 1vw);
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

.main-head {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

.main-head nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

.main-head #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  font-family: "Great Vibes", sans-serif;
}

.main-head .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.hero .hero-introduction {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 55rem;
          flex: 2 1 55rem;
  text-align: center;
}

.hero p {
  padding: 4rem 10rem;
}

.hero h2 {
  padding-top: 8rem;
}

.hero a {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 8rem;
}

.hero .hero-images {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad8dd), to(#dad1d4));
  background: linear-gradient(#dad8dd, #dad1d4);
  z-index: 1;
}

.hero .hero-elena {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

#about h5 {
  font-family: "Poppins", sans-serif;
  position: absolute;
  letter-spacing: 2rem;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

.about-text {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  background: #414141;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text h2 {
  text-align: center;
  margin: 6rem 0rem;
  font-family: "Great Vibes";
}

.about-text h4 {
  margin-bottom: 1.5rem;
}

.about-text p {
  padding-bottom: 1rem;
}

.about-text .about-texts {
  padding: 2rem 8rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery .gallery2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery .gallery-head {
  position: absolute;
  color: white;
  background: #414141;
  padding: 5rem 10rem;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .form-wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
}

.contact .form-wrapper h2 {
  margin: 5rem 0rem;
}

.contact .form-wrapper label {
  display: block;
}

.contact .form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: #414141;
  color: white;
  border: none;
  padding: 1rem;
}

.contact .form-wrapper button {
  padding: 1rem 8rem;
  background: #906272;
  -webkit-columns: white;
          columns: white;
  border: none;
  width: 100%;
  cursor: pointer;
  color: white;
}

.contact .form-wrapper span {
  font-size: calc(8rem + 1vw);
  color: #906272;
}

footer {
  background: #414141;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h4 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  font-size: calc(1.4rem + 1vw);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */